# Questions

### 1. Mean speed of all the rides
### 2. Number of rides taken in February
### 3. Number of rides where tip more than 50 Dollar
### 4. Number of rides where drop was JFK airport

In [5]:
import numpy as np
import pandas as pd

In [6]:
taxi = pd.read_csv(r'C:\Users\Parvez\Downloads\Airport Cabs Data Analysis\nyc_taxis.csv')

In [8]:
taxi.shape

(89560, 15)

In [10]:
taxi.head()

,pickup_year,pickup_month,pickup_day,pickup_dayofweek,pickup_time,pickup_location_code,dropoff_location_code,trip_distance,trip_length,fare_amount,fees_amount,tolls_amount,tip_amount,total_amount,payment_type
0,2016,1,1,5,0,2,4,21.00,2037,52.0,0.8,5.54,11.65,69.99,1
1,2016,1,1,5,0,2,1,16.29,1520,45.0,1.3,0.00,8.00,54.30,1
2,2016,1,1,5,0,2,6,12.70,1462,36.5,1.3,0.00,0.00,37.80,2
3,2016,1,1,5,0,2,6,8.70,1210,26.0,1.3,0.00,5.46,32.76,1
4,2016,1,1,5,0,2,6,5.56,759,17.5,1.3,0.00,0.00,18.80,2

In [14]:
taxi1 = np.genfromtxt('nyc_taxis.csv', delimiter = ',', skip_header = True)

In [16]:
speed = taxi1[:, 7]/ (taxi1[:, 8]/3600)

In [17]:
mean_speed = speed.mean()
print(mean_speed)

32.24258580925573

In [19]:
rides_feb = taxi1[taxi1[:, 1] == 2, 1]
print(rides_feb.shape[0])

13333

In [20]:
print(taxi1[taxi1[:, -3] > 50, -3].shape[0])

16

In [22]:
print(taxi1[taxi1[:, 6] == 2, 6].shape[0])

11832